src/by/trainig/task2/xml/HotSnacksScheme.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.training.by/HotSnacks"
	xmlns:tns="http://www.training.by/HotSnacks" elementFormDefault="qualified" attributeFormDefault="qualified">
	<complexType name="HotSnacks">
		<choice minOccurs="1" maxOccurs="unbounded">
			<element name="photo" type="string" />
			<element name="name" type="string" />
			<element name="description" type="string" />
			<element name="portion" type="string" />
			<element name="price" type="string" />
		</choice>
		<attribute name="ID" type="integer" />
	</complexType>
</schema>